# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project-specific
a.out
a.exe
*.gch*
read.exe
Debian1.0.vdi
Test-fixed-1k.vdi
Test-dynamic-1k.vdi
Test-fixed-4k.vdi
*.exe
*.save

## Unused/Undecided
#read\.o
read
#.vs/**
#output
#vdi-hex-trunc-start-v2
#kstar
#hex-fixed
